html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: url(https://i.imgur.com/BurMQJV.jpg);
  background-size: cover;
  background-position: center top;
}

@font-face {
  font-family: 'UniSansThinCAPS';

  src: 



  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniSansHeavyCAPS';

  src: 



  font-weight: normal;
  font-style: normal;
}

div.container {
  position: relative;
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

div.subscription {
  margin-top: 5%;
}

body:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.63;
  background: linear-gradient(#f1c40f 0%, #27ae60 100%);
}

div.container > * {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: #FFFFFF;
}

div.subscription > * {
  font-family: 'UniSansHeavyCAPS', sans-serif;
}

div.container > h1 {
  font-size: 40px;
}

div.container > h2 {
  font-size: 14px;
}

div.container > a {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
  padding: 10px;
  border: 1px solid white;
}

div.container > a:hover {
  background: rgba(255, 255, 255, .3);
}

footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999999;
}

footer > * {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: #FFFFFF;
  font-size: 1px;
}

footer > a:hover {
  color: #bdc3c7;
}

.bottom {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: #FFFFFF;
  font-size: 17px;
}


.bottom3 {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: gold;
  font-size: 17px;
}

.bottom2 {
  font-family: 'UniSansThinCAPS', sans-serif;
  color: #FFFFFF;
  font-size: 17px;
}


/* email button  */

.input {
  background: rgba(255, 255, 255, .4);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  height: 24px;
  color: white;
  outline: none;
  padding-left: 5px;
}

input:focus {
  background: rgba(255, 255, 255, .3);
}

.button {
  background: rgba(255, 255, 255, .4);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  color: white;
  outline: none;
  height: 24px;
}

button:hover {
  background: rgba(255, 255, 255, .3);
}

#popup {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: green;
  text-decoration: none;
  font-size: 17px;
  padding: 5px;
  display: none;
}

#popup2 {
  font-family: 'UniSansHeavyCAPS', sans-serif;
  color: red;
  text-decoration: none;
  font-size: 17px;
  padding: 5px;
  display: none;
}