.container
 %h1 
  %a{:href => 'http://gently.io', :'data-sr' => 'scale up 10%'} Gently.io
  %span{:'data-sr' => 'top wait .3s 90px'} i
  %span{:'data-sr' => 'top wait .4s 90px'} s
  %span &nbsp;
  %span{:'data-sr' => 'top wait .5s 90px'} c
  %span{:'data-sr' => 'top wait .6s 90px'} o
  %span{:'data-sr' => 'top wait .7s 90px'} m
  %span{:'data-sr' => 'top wait .8s 90px'} i
  %span{:'data-sr' => 'top wait .9s 90px'} n
  %span{:'data-sr' => 'top wait 1s 90px'} g
  %span &nbsp;
  %span{:'data-sr' => 'top wait 1.1s 90px'} s
  %span{:'data-sr' => 'top wait 1.2s 90px'} o
  %span{:'data-sr' => 'top wait 1.3s 90px'} o
  %span{:'data-sr' => 'top wait 1.4s 90px'} n
  %span{:'data-sr' => 'top wait 1.5s 90px'} !
 %p{:'data-sr' => 'bottom wait 1.5s 90px'} Please check back with us in the near future for updates.
 .social-media
  %ul
   %li{:'data-sr' => 'top wait 1.8s 90px'}
    %a{:href => 'https://www.facebook.com/pages/Gently/1580616458846202'}
     %i.fa.fa-facebook
   %li{:'data-sr' => 'top wait 1.9s 90px'}
    %a{:href => 'https://www.twitter.com/teamgently/'}
     %i.fa.fa-twitter
   %li{:'data-sr' => 'top wait 2s 90px'}
    %a{:href => 'http://codepen.io/team/gently/'}
     %i.fa.fa-codepen
   %li{:'data-sr' => 'top wait 2.1s 90px'}
    %a{:href => 'mailto:andy@gently.io'}
     %i.fa.fa-envelope